@charset "UTF-8";
/* CSS Document */

body {
	font-family: YuGothic, "Yu Gothic medium", "Hiragino Sans", Meiryo, "sans-serif";
}

.cv_area {
    max-width: 480px;
    margin: 0 auto;
}

a.cv_btn {
    position: fixed;
    display: block;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 480px;
    z-index: 9999;
}

.wrapper {
    max-width: 480px;
    margin: 0 auto;
    box-shadow: 0 0 50px rgba(0,0,0,0.2);
}

.wrapper img {
    width: 100%;
    height: auto;
}

section.review {
    position: relative;
    overflow: hidden;
}

.review_slide {
    background: #ff7f26;
    padding-bottom: 15%;
}

.message_slide {
    background: #000;
	padding: 10px 0;
}

.swiper-pagination {
    bottom: 10%!important;
}

.message .swiper-pagination {
    bottom: -13%!important;
}

span.swiper-pagination-bullet {
    background: #fff!important;
}

footer {
    background: #70F4F2;
    text-align: center;
    padding: 20px 0 27%;
    color: #000000;
    padding-bottom: 140px;
}

/* line */
.btn--cta1{
	background: linear-gradient(94.59deg, #06C755 4.96%, #4CC764 100%);
	box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	color: #fff;
	font-weight: bold;
	padding:14px 20px;
	line-height: 1 !important;
}
.btn--cta1 span{
	background: #fbff4b;
	color: #f78903;
	margin-right: 8px;
	border-radius: 8px;
	padding: 1px 5px;
	font-size: .9em;
}
.btn--cta1:hover{
	opacity: 0.8;
	color: #fff;
	text-decoration: none;
}
.btn--cta1{
	display: inline-block;
	font-size: 2.5rem;
	padding: 1.5rem 2rem;
}
.btn--cta1{
	display: inline-block;
	padding: 2.2rem 6rem;
}
.cv-area .btn--cta1 {
    display: inline-block;
    font-size: 4.5vw !important;
    padding: 5vw 0 !important;
    width: 90% !important;
}


.line-area {
	width: 100%;
	background-size: cover;
	text-align: center;
	padding: 30px 0 30px 0;
	color: #fff;
}
.line-area {
    font-size: 20px;
}
.cv-area  .line-area {
    padding: 40px 10px 30px;
}
.sitelink .cv-area .line-area h2 span {
	display: block;
}
.line-area {
	font-size: 16px;
}
/*end-line  */


.marker {
    font-weight: bold;
    background: linear-gradient(transparent 60%, #FBFF4B 60%);
}


.point-item-content {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
}

.bkcolor{
    background-color:#DEFFFD ;
}

.mapcolor{
    background-color:#70F4F2 ;
}

.point-item-content .list,
.point-item-content .img {
    width: 100%;

}
 .point-item-content .list li {
    position: relative;
    font-size: 1.3em;
    background: none;
    padding: 0;
    text-align:center;
}
.point-item-content .list li:before {
    content: "";
    position: absolute;
    top: 50%;
    left: .75em;
    width: 1.75em;
    height: 1.75em;
    transform: translateY(-50%);

}
.point-item-content .list li + li {
    margin: 0;
}
 .point-item-content .txt {
    width: 100%;
    background: none;
    display: block;
    min-height: 0;
    padding: 0 20px 20px;
    margin: 2.0em 0 0;
}
 .point-item-content .txt span {
    font-size: 1.1em;
    line-height: 1.5;    
}

.txt_sp span {
    font-size: 0.9em;
    line-height: 1.5;
    font-weight: bold;
}

.txt_footer span {
    font-size: 0.6em;
    line-height: 1.5;
    font-weight: bold;
}

.car-img {
    margin:0 30px 0 30px;
}
.image-center {
    display: block;
    margin: 10px auto;
}

.map-img {
    margin:0 10px 0 10px;
}
